[package]
name = "acacia_macros"
version.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[features]
default = []
tailwind = []

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
rstml = { workspace = true }
